<div class="list_item">
  <div style="float: left;width:105px; text-align:center;">

      <%= image_tag lawyer.photo.url(:thumb),:style=>"border:solid #000 2px;" %>

  </div>
  <div style="margin-left:110px;">
    <strong><%= lawyer.full_name %></strong> <br/>
    <strong>Bar Memberships: </strong><%= lawyer.bar_memberships %><br/>
    <strong>Areas of Expertise: </strong><%= lawyer.areas_of_expertise %><br/>
    <strong>Alma Maters: </strong><%= lawyer.alma_maters %><br/>

   <!--
Skype 'My status' button
http://www.skype.com/go/skypebuttons
-->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:<%= lawyer.skype %>?call"><img src="http://mystatus.skype.com/bigclassic/<%= lawyer.skype %>" style="border:none;" width="120" height="30" alt="My status" /></a>


  </div>
  <div style="clear: both;"></div>
</div>

